/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-default: #f9fafb; /* gray-50 */
  --color-selected: #e5e7eb; /* gray-200 */
  --color-hover: #d1d5dc; /* gray-300 */
  --color-disabled: #d9d9d9;

  --color-text-default: #4a5565; /* gray-600 */
  --color-text-selected: #fff;
  --color-text-hover: #fff;
  --color-text-disabled: #99a1af; /* gray-400 */

  --color-btn-hover: #e5e7eb;

  --color-border-default: #e5e7eb;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.font-default {
  font-size: 14px;
  font-weight: 500;
}

.font-title {
  font-size: 12px;
  font-weight: 500;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.message.system {
  align-self: flex-start;
  background-color: #e9ecef;
  color: black;
}